/*Calculator*/
.calculator {
    width: 70%;
    margin-left: 100px;
    display: flex;
    align-items: center;
    padding: 40px 0px 51px 26px;
    box-sizing: border-box;
    gap:4%;  
    background: linear-gradient(180deg, #d81e05, #490900);   
    border-radius: 16px;
  }
  
  .calc-left_wrapper {
    display: flex;
    flex-direction: column;
    padding: 6% 3% 3%;
    box-sizing: border-box;
    width: 690px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 40px 127px #00000014, 0 15.41px 40.45px #0000000d, 0 3.26px 10.35px #00000008;
    background: #fff;
    align-items: center;
    justify-content: center;
  }
  
  .calc-left-block {
    width: 690px;
    height: 400px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
  }
  
  .calc-right-text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  
  .calc-right-sum {
    font-size: 42px;
    line-height: 56px;
    color: #fff;
    font-weight: 500;
  }
  
  .range-slider {
    margin-bottom: 90px;
  }
  
  .calc-profit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    padding: 20px 10px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    border: 2px solid transparent;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(90deg, #d81e05, #490900);
  }
  
  .calc-profit-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .calc-profit span {
    font-size: 44px;
    line-height: 32px;
  }
  
  .irs--round .irs-from,
  .irs--round .irs-to,
  .irs--round .irs-single {
    background-color: rgb(11, 103, 169);
  }
  
  .irs--round .irs-bar {
    background: #d52b1e !important;
  }
  
  .irs--round .irs-from,
  .irs--round .irs-to,
  .irs--round .irs-single {
    background: #d52b1e !important;
  }
  
  .irs--round .irs-handle {
    border-color: #d52a1e !important;
  }
  
  .irs--round .irs-from:before,
  .irs--round .irs-to:before,
  .irs--round .irs-single:before {
    border-top-color: #d52b1e !important;
  }
  
  .js-irs-0 {
    margin-bottom: 30px;
  }